blockquote p {
    font-size: 1em;
    color: #696969;
    border-left: 7px solid steelblue;
    padding: 10px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

ul, ol {
    text-align: justify;
}

h2 {
    border-bottom: 1px solid steelblue;
}

.twemoji { 
    font-size: .3em;
}

img.twemoji {
    width: 5%;
}

.vb {
    color: red;
    font-weight: bold;
}

.nn {
    color: steelblue;
    font-weight: bold;
}

table.docutils th {
    background-color: steelblue;
    color: white;
}

table.docutils th a {
    color: white;
}

.box {
    border: 2px dashed steelblue;
    background-color: #FFFFE0;
    padding: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.box:after {
    content: "📖";
    font-size: 20px;
    font-style: normal;
    float: right;
}

span.cancel {
    color: red;
    padding: 3px;
    text-decoration: line-through;
}

.disabled {
    color: #C0C0C0;
}

img.ods {
    width: 80px;
}

img.cclave {
    width: 50px;
    height: 50px;
    padding: 8px;
    /*border: 2px dotted #000000;*/
    /*filter: invert(20%) sepia(30%) saturate(800%) hue-rotate(180deg);*/
    filter: invert(20%) sepia(30%) saturate(800%) hue-rotate(210deg); /* Ajusta el ángulo según sea necesario */

    /*background-color: white;*/
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black; /* Ajusta el grosor y color de los puntos según sea necesario */
  
}

/*
[class^="toctree-"]
*/
/*
li[class^="toctree-"] a.reference.internal {
    background-color: #dcdcdc;
    color: black;
}

li[class^="toctree-"] a.reference.internal:hover {
    background-color: #696969;
    color: white;
}
*/
/*
li.toctree-l1 a.reference.internal {
    background-color: #dcdcdc;
    color: black;
}

li.toctree-l1 a.reference.internal:hover {
    background-color: #696969;
    color: white;
}

li.toctree-l2 a.reference.internal {
    background-color: #dcdcdc;
    color: black;
}

li.toctree-l2 a.reference.internal:hover {
    background-color: #696969;
    color: white;
}
*/

/**
    Replace the !important solution. Not recommended
**/
/*
li.toctree-l3 a {
    background-color: #dcdcdc!important;
    color: black;
}

li.toctree-l3  a:hover {
    background-color: #696969!important;
    color: white;
}

td[content="ICT1A"] {
    background-color: yellow!important;
    font-weight: bold;
}
*/
progress {
    width: 700px;
    height: 25px;
}

/*
progress#classdone::-webkit-progress-bar {
    background-color: white;
}

progress#classdone::-webkit-progress-value {
    background-color: steelblue;
}

progress#classready::-webkit-progress-bar {
    background-color: white;
}

progress#classready::-webkit-progress-value {
    background-color: green;
}
*/


progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
    background-color: green;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

div.toc {
    line-height: normal;
    margin: 0px;
    font-size: 1em;
}

div.toc a {
    line-height: normal!important;
}

div.toc ul li {
    line-height: normal!important;
}


div.toc ul li a {
    line-height: normal!important;
}

ul li {
    list-style-type: square!important;
    /*line-height: normal!important;*/
}

div.glightbox {
    border: 1px solid black;
    padding: 5px;
}

.glightbox a img {
    width: 90%;
}

img.rounded {
    /*border-radius: 15px 50px;*/
    border-radius: 15px 50px 30px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /*filter: grayscale(100%);*/
    filter: grayscale(100%) sepia(100%) hue-rotate(190deg) saturate(200%) brightness(100%);
}

img.header {
    border-radius: 15px 50px 30px;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/*
ul li {
    line-height: normal!important;
}

ol li {
    line-height: normal!important;
}
    */

    div.note {
        position: relative; /* Para que el ícono se posicione relativo al div */
        background-color: #CEE7FF;
        padding: 15px;
        padding-right: 15px;
        margin: 5px;
        margin-bottom: 15px;
        border-left: solid 7px steelblue;
        /*border-radius: 10px;*/
    }
